<div class='row'>
  <div class='col-xs-offset-2 col-sm-offset-2 col-xs-4 col-sm-4'>
    <h3>Games Awaiting Approval</h3>
  </div>
</div>
<div class='row'>
  <div class='col-xs-offset-2 col-sm-offset-2 col-xs-8 col-sm-8'>
    <table class='table table-striped table-condensed'>
      <tr>
        <th>Game Name</th>
        <th>Game Company</th>
        <th>Approve</th>
        <th>Reject</th>
      </tr>
      <%@games.each do |g| %>
      <tr>
        <td><%=g.title%></td>
        <td><%=g.user.company_name%></td>
        <td><%= link_to "Approve", status_approved_path(g), :method => :patch, class:'btn btn-default btn-xs' %></td>
        <td><%= link_to "Reject", status_rejected_path(g), :method => :patch, class:'btn btn-default btn-xs' %></td>
      </tr>
      <%end%>
    </table>
  </div>
</div>

<center><%#paginate @games%></center>

    <h3>Status of Arcades</h3>

    <ul class="list-group">
      <%= link_to "Arcade List", arcades_path, method: 'get', class:'btn btn-default' %>
    <% @arcades.each do |a| %>
      <li class="list-group-item">
        <%= a.title %>
         <span class="badge"><%= a.status %> </span>
      </li>

    <% end %>

    </ul>
  </div>

  <div class="col-md-5">
    <h3>Pending Users:</h3>
    <ul class="list-group">
      <% @users.each do |u| %>
      <% if u.approved_user == false %>
      <li class="list-group-item">
        <span class="glyphicon glyphicon-question-sign"> </span>
        Company Name: <%= u.company_name %>
        Website: <%= u.website %>

        <%= link_to "Approve", user_approved_path(u.id), :method => :patch, class: "btn btn-default small btn-xs" %>
        <%= link_to "Reject", user_rejected_path(u.id), :method => :delete, class: "btn btn-default small btn-xs" %>
        <%= link_to 'Destroy', { action: :destroy, id: u.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Details', user_path(u.id), class: "btn btn-default small btn-xs" %>
      </li>
      <% end %>
      <% end %>
    </ul>

  </div>

</div>
