<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
    <thead>
        <tr>
            <th>Company name</th>
            <th>Company logo</th>
            <th>Website</th>
            <th>Twitter</th>
            <th>Admin</th>
            <th>Approved user</th>
            <th>Number of employees</th>
            <th>Email</th>
            <th>Password digest</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= user.company_name %></td>
            <td><%= user.company_logo %></td>
            <td><%= user.website %></td>
            <td><%= user.twitter %></td>
            <td><%= user.admin %></td>
            <td><%= user.approved_user %></td>
            <td><%= user.number_of_employees %></td>
            <td><%= user.email %></td>
            <td><%= user.password_digest %></td>
            <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
