<p id="notice"><%= notice %></p>

<p>
    <strong>Company name:</strong>
    <%= @user.company_name %>
</p>

<p>
    <strong>Company logo:</strong>
    <%= @user.company_logo %>
</p>

<p>
    <strong>Website:</strong>
    <%= @user.website %>
</p>

<p>
    <strong>Twitter:</strong>
    <%= @user.twitter %>
</p>

<p>
    <strong>Admin:</strong>
    <%= @user.admin %>
</p>

<p>
    <strong>Approved user:</strong>
    <%= @user.approved_user %>
</p>

<p>
    <strong>Number of employees:</strong>
    <%= @user.number_of_employees %>
</p>

<p>
    <strong>Email:</strong>
    <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
|
<%= link_to 'Back', users_path %>
