<%= form_for(game) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>
      <ul>
        <% game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <%end%>

  <div class="form-group">
    <div class='row'>
      <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= f.label :title, class:'form-label align-right' %>
      </div>
      <div class='col-xs-4 col-sm-4'>
        <%= f.text_field :title, class:'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class='row'>
      <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= f.label :purchase_url , class:'form-label align-right' %>
      </div>
      <div class='col-xs-4 col-sm-4'>
        <%= f.text_field :purchase_url, class:'form-control' %>
      </div>
    </div>
  </div>

  <!-- <div class="form-group">
    <div class='row'>
      <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%# f.label :tags , class:'form-label align-right' %>
      </div>
      <div class='col-xs-4 col-sm-4'>
        <%# f.select(:tag_name, Tag.all, :tag_id,{ class:'form-control' }) %>
      </div>
    </div>
  </div> -->

  <div class="form-group">
    <div class='row'>
      <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= f.label :game_description , class:'form-label align-right' %>
      </div>
      <div class='col-xs-4 col-sm-4'>
        <%= f.text_area :game_description, {class:'form-control', rows: 8}%>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class='row'>
      <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= f.label :image, class:'form-label align-right' %>
      </div>
      <div class='col-xs-4 col-sm-4'>
        <%= f.file_field :image, class:'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class='row'>
      <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= f.label :game_file, class:'form-label align-right' %>
      </div>
      <div class='col-xs-4 col-sm-4'>
        <%= f.file_field :game_file, class:'form-control' %>
      </div>
    </div>
  </div>

  <br>

  <div class="form-group">
    <div class='row'>
      <div class='col-md-offset-4 col-sm-4'>
        <%= f.submit class:'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>
