<%= form_for(game) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>
      <ul>
        <% game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <%end%>

  <div class="row">
  <div class='col-xs-offset-2 col-sm-offset-2 col-md-6'>
      <div class="form-group">
        <div class='row'>
          <div class='col-sm-3'>
            <%= f.label :title, class:'form-label align-right' %>
          </div>
          <div class='col-xs-7 col-sm-7'>
            <%= f.text_field :title, class:'form-control' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class='row'>
          <div class='col-sm-3'>
            <%= f.label :purchase_url , class:'form-label align-right' %>
          </div>
          <div class='col-xs-7 col-sm-7'>
            <%= f.text_field :purchase_url, class:'form-control' %>
          </div>
        </div>
      </div>

      <!-- <div class="form-group">
        <div class='row'>
          <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
            <%# f.label :tags , class:'form-label align-right' %>
          </div>
          <div class='col-xs-4 col-sm-4'>
            <%# f.select(:tag_name, Tag.all, :tag_id,{ class:'form-control' }) %>
          </div>
        </div>
      </div> -->

      <div class="form-group">
        <div class='row'>
          <div class='col-sm-3'>
            <%= f.label :game_description , class:'form-label align-right' %>
          </div>
          <div class='col-xs-7 col-sm-7'>
            <%= f.text_area :game_description, {class:'form-control', rows: 8}%>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class='row'>
          <div class='col-sm-3'>
            <%= f.label :image, class:'form-label align-right' %>
          </div>
          <div class='col-xs-7 col-sm-7'>
            <%= f.file_field :image, class:'form-control' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class='row'>
          <div class='col-sm-3'>
            <%= f.label :game_file, class:'form-label align-right' %>
          </div>
          <div class='col-xs-7 col-sm-7'>
            <%= f.file_field :game_file, class:'form-control' %>
          </div>
        </div>
      </div>

      <br>
      <div class='row'>
        <div class=' col-md-offset-3 col-xs-7 col-sm-7'>
          <!-- LIABILITY WAIVER:<br>
          I HEREBY VOW AND UNDERSTAND THAT BY SUBMITTING THIS GAME
          IT IS THE BEST GAME IN ALL OF INDIE GAMES AND MEETS
          ALL THE MAXIMUM HARDWARE SPECS AND WILL WOW THE MINDS
          OF THE YOUTH AND INSPIRE THE GENERATIONS TO COME -->
          <small>By clicking Log In you agree to our <u> Liability Terms </u> </small>
        </br>
          <div class="field">
            <%= f.label :liability, "Agree", :value => "true"  %>
            <%= f.radio_button :liability, true %>
            <%= f.label :liability, "Disagree", :value => "false" %>
            <%= f.radio_button :liability, false, :checked => true %>
            </br>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class='row'>
          <div class='col-md-offset-3 col-sm-7'>
            <h3></h3>
            <%= f.submit class:'btn btn-primary' %>
          </div>
        </div>
      </div>

  </div>

  <div class='col-xs-3 col-sm-3'>
    <div class="panel panel-default">

      <div class="panel-body">
        <small> <strong>Note:</strong> Game must meet the following maximum hardware specs. Every game will be tested. If it cannot be run, it will be rejected: </small></br></br>
        <table class="table table-striped">
          <tbody>
            <tr>
               <td>CPU:</td>
               <td>XXXX	</td>
              </tr>
            <tr>
            <tr>
               <td>GPU:</td>
               <td>XXXX	</td>
              </tr>
            <tr>
              <tr>
                 <td>RAM:</td>
                 <td>XXXX	</td>
                </tr>
              <tr>
              <tr>
                 <td>HD space:</td>
                 <td>XXXX	</td>
                </tr>
              <tr>

             </tbody>
        </table>
      </div>
    </div>

  </div>
</div>






<% end %>
