<%= form_for(game) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class='row'>
      <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= f.label :title, class:'form-label align-right' %>
      </div>
      <div class='col-xs-4 col-sm-4'>
        <%= f.text_field :title, class:'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class='row'>
      <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= f.label :user_id, class:'form-label align-right' %>
      </div>
      <div class='col-xs-4 col-sm-4'>
        <%= f.text_field :user_id, class:'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class='row'>
      <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= f.label :last_in_arcade, class:'form-label align-right' %>
      </div>
      <div class='col-xs-4 col-sm-4'>
        <%= f.date_select :last_in_arcade, class:'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class='row'>
      <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= f.label :times_played, class:'form-label align-right' %>
      </div>
      <div class='col-xs-4 col-sm-4'>
        <%= f.number_field :times_played, class:'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class='row'>
      <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= f.label :status, class:'form-label align-right' %>
      </div>
      <div class='col-xs-4 col-sm-4'>
        <%= f.text_field :status, class:'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class='row'>
      <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= f.label :purchase_url , class:'form-label align-right' %>
      </div>
      <div class='col-xs-4 col-sm-4'>
        <%= f.text_field :purchase_url, class:'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class='row'>
      <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= f.label :game_description , class:'form-label align-right' %>
      </div>
      <div class='col-xs-4 col-sm-4'>
        <%= f.text_area :game_description, class:'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class='row'>
      <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= f.label :categories , class:'form-label align-right' %>
      </div>
      <div class='col-xs-4 col-sm-4'>
        <%= f.text_field :categories, class:'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class='row'>
      <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= f.label :key_map, class:'form-label align-right' %>
      </div>
      <div class='col-xs-4 col-sm-4'>
        <%= f.text_field :key_map, class:'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class='row'>
      <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= f.label :image, class:'form-label align-right' %>
      </div>
      <div class='col-xs-4 col-sm-4'>
        <%= f.file_field :image %>
      </div>
    </div>
  </div>

  <br>

  <div class="form-group">

    <div class='row'>
      <div class='col-md-offset-4 col-sm-4'>
        <%= f.submit class:'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>
