<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <!-- <%#= image_tag "http://" + @game.image.url(:main_game_image) %> -->
</p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @game.user %>
</p>

<p>
  <strong>Last in arcade:</strong>
  <%= @game.last_in_arcade %>
</p>

<p>
  <strong>Times played:</strong>
  <%= @game.times_played %>
</p>

<p>
  <strong>Status:</strong>
  <%= @game.status %>
</p>

<p>
  <strong>Purchase url:</strong>
  <%= @game.purchase_url %>
</p>

<p>
  <strong>Game description:</strong>
  <%= @game.game_description %>
</p>

<p>
  <strong>Key map:</strong>
  <%= @game.key_map %>
</p>



<!-- redirect to admin panel, change status -> approved, -->
<!-- update @game.status = 'approved' -->
<div class="btn download-btn">
 <%= link_to 'Download file' %>
</div>
<div class="btn accept-btn">
  <%= form_tag status_approved_path(@game), method: 'patch' do %>
    <%= hidden_field_tag :game_id, @game.id %>
    <%= submit_tag 'Accept' %>
  <% end %>
</div>
<div class="btn reject-btn">
  <%= form_tag status_rejected_path(@game), method: 'patch' do %>
    <%= hidden_field_tag :game_id, @game.id %>
    <%= submit_tag 'Reject' %>
  <%- end -%>
</div>
<!-- update @game.status = 'rejected' -->


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
