<div class='row'>
    <div class='col-xs-offset-2 col-sm-offset-2 col-sm-9'>
        <h2><%= @game.title %>
        </h2>

        <p>
            <i>By
                <%= @game.user.company_name %></i>
        </p>
    </div>

    <div class='col-sm-offset-2 col-sm-3'>
        <p>
            <%= link_to 'Download File', "http://indiearcade-tone.herokuapp.com/#{@game.game_file.url}", class:'btn btn-primary' %>
        </p>

    </div>

    <div class='col-sm-5 text-right'>
        <div class='btn-group'>
            <%= link_to "Approve", status_approved_path(@game), :method => :patch, class:'btn btn-primary btn-sm' %>
            <%= link_to "Reject", status_rejected_path(@game), :method => :patch, class:'btn btn-default btn-sm' %>
        </div>
    </div>

</div>

<div class='col-sm-offset-2  col-sm-9'>
    <hr>
</div>

<div class='page-divider'></div>

<div class='row'>
    <div class='col-xs-offset-2 col-sm-offset-2 col-md-6'>
        <% if @game.image.url %>
        <center class='game-img'><%= image_tag @game.image.url(:main_game_image) %></center>
    <% else %>
        <%= image_tag "game-placeholder.jpg" %>
        <% end %>
    </div>

    <div class="col-md-3">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Game info
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Status:</th>
                            <td>
                                <span class="badge">
                                    <%= @game.status %>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>Last Published:</th>
                            <td><%= @game.last_in_arcade %></td>
                        </tr>
                        <tr>
                            <th>Times Played:</th>
                            <td><%= @game.times_played %></td>
                        </tr>

                        <tr>
                            <th>Game Description:</th>
                            <td><%= @game.game_description %></td>
                        </tr>
                    </tbody>

                </table>

            </div>

        </div>
        <div class="col-md-12 text-center">

            <div class='btn-group'>
                <%= link_to 'Update Key Map', new_game_key_path(@game), class: 'btn btn-default btn-sm' %>
                <%= link_to 'Edit', edit_game_path(@game), class:'btn btn-default btn-sm' %>
                <%= link_to 'Back', games_path, class: 'btn btn-default btn-sm' %>
            </div>
        </div>

    </div>
    <div class='col-sm-offset-3 col-sm-3 text-left'></div>
</div>

<div class='page-divider'></div>

<div class='page-divider'></div>

<div class='page-divider'></div>

<div class='row'>
    <div class='col-xs-offset-2 col-sm-offset-2 col-sm-9'>
        <hr/>
    </div>
</div>

<div class='msg-form-spacing'></div>

<div class='row'>
    <div class='col-xs-offset-4 col-sm-offset-4 col-xs-6 col-sm-6'>
        <h2>Contact Developer</h2>
    </div>
</div>

<div class='page-divider'></div>

<div class='form-spacing'></div>
<%= form_tag(game_path(@game), method: 'get', class:'form-group') do %>
<div class='row'>
    <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= label_tag 'Inquery Title'%>
    </div>
    <div class='col-xs-4 col-sm-4'>
        <%=text_field_tag :title, nil, class:'form-control', placeholder: 'Inquery Title'%>
    </div>
</div>

<div class='msg-form-spacing'></div>

<div class='row'>
    <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= label_tag 'Inquery Email'%>
    </div>
    <div class='col-xs-4 col-sm-4'>
        <%=email_field_tag :email, nil, class:'form-control', placeholder: 'Inquery Email'%>
    </div>
</div>

<div class='msg-form-spacing'></div>

<div class='row'>
    <div class='col-xs-offset-2 col-sm-offset-2 col-xs-2 col-sm-2'>
        <%= label_tag 'Message' %>
    </div>
    <div class='col-xs-6 col-sm-6'>
        <%=text_area_tag :message, nil, {rows:8, class:'form-control'}%>
    </div>
</div>

<div class='msg-form-spacing'></div>

<div class='row'>
    <div class='col-xs-offset-4 col-sm-offset-4 col-xs-2 col-sm-2'>
        <%=submit_tag 'Send', class:'btn btn-default'%>
    </div>
</div>
<%end%>

</div>
