<p>
  <strong>Image:</strong>
  <%= image_tag "http://" + @game.image.url(:main_game_image) %>
</p>

<p>
  <strong>Made by:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.user %>
</p>
<p>
  <strong>Type:</strong>
  <%= @game.tags %>
</p>

<p>
  <strong>Last in arcade:</strong>
  <%= @game.last_in_arcade %>
</p>

<p>
  <strong>Times played:</strong>
  <%= @game.times_played %>
</p>

<p>
  <strong>Overall rating:</strong>
  <%= @game.status %>
</p>

<p>
  <strong>Game description:</strong>
  <%= @game.game_description %>
</p>

<!-- \/\/\/ THIS IS A BUTTON TO BUY NOW \/\/\/ -->
<p>
  <strong>Purchase url:</strong>
  <%= @game.purchase_url %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
