<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<div class='row'>
  <div class='col-md-offset-2 col-sm-8'>
    <div class="panel panel-default">
      <div class="panel-body">

      <p>
        <strong>Made by:</strong>
        <%= @game.title %>
      </p>

      <p>
        <strong>Date:</strong>
        <%= @game.date %>
      </p>
      <p>
        <strong>Type:</strong>
        <%= @game.status %>
      </p>

      <p>
        <strong>Last in arcade:</strong>
        <%= @game.last_in_arcade %>
      </p>

      <p>
        <strong>Times played:</strong>
        <%= @game.times_played %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @game.status %>
      </p>

      <p>
        <strong>Purchase url:</strong>
        <%= @game.purchase_url %>
      </p>

      <p>
        <strong>Game description:</strong>
        <%= @game.game_description %>
      </p>

      <p>
        <strong>Key map:</strong>
        <%= @game.key_map %>
      </p>

      <p>
        <strong>Image:</strong>
        <%= @game.image %>
      </p>
      <div class='row'>
        <div class='col-sm-offset-2 col-xs-offset-2 col-xs-2 col-sm-2'>
          <%= link_to 'Edit', edit_game_path(@game), class:"nav" %>
        </div>
        <div class='col-sm-2 col-xs-2'>
          <%= link_to 'Back', games_path, class:"nav"%>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>
