<p id="notice">
  <center><%= notice %></center>
</p>

<%= form_tag('/games', method: 'get', role: 'search', class: 'form-group') do %>
<div class='row'>
  <div class='col-xs-6 col-sm-6 col-md-offset-2'>
    <%= text_field_tag :search, params[:search], placeholder: "Search Games", class: 'form-control' %>
  </div>
  <div class='col-sm-4 col-xs-6'>
    <%= submit_tag 'Search', class:'btn btn-primary col-md-4', name: nil %>
  </div>
</div>
<% end %>

<% if @games.present? %>
<!-- <div class="container"> -->
<div class='game-grid'>
  <% @games.each do |game| %>
  <div class='game-item'>
    <div class='game-img'>

    <% if game.image.url %>
    <% else %>
      <%= image_tag "http://#{game.image.url(:icon)}" %>
      <%= image_tag "http://#{game.image.url(:main_game_image)}" %>
      <%= image_tag "http://#{game.image.url}" %>
    <% end %>

    <%# image_tag "http://" + game.image.url(:icon) %>
    <%# image_tag "http://" + game.image.url(:main_game_image) %>
    <%# image_tag "http://" + game.image.url %>

    </div>
    <div>
      <center>
        <p class='game-title'>
          <%=game.title%>
        </p>
      </center>
    </div>
  </div>
  <% end %>
</div>
<!-- </div> -->

<!-- <table> -->
<!-- <thead> -->
<!-- <tr> -->
<!-- <th>Title</th> -->
<!-- <th>User</th> -->
<!-- <th>Last in arcade</th> -->
<!-- <th>Times played</th> -->
<!-- <th>Status</th> -->
<!-- <th>Purchase url</th> -->
<!-- <th>Game description</th> -->
<!-- <th>Categories</th> -->
<!-- <th>Key map</th> -->
<!-- <th>Image</th> -->
<!-- <th colspan="3"></th> -->
<!-- </tr> -->
<!-- </thead> -->

<!-- <tbody> -->
<!-- <%# @games.each do |game| %> -->
<!-- <tr> -->
<!-- <td><%#= game.title %></td> -->
<!-- <td><%#= game.user %></td> -->
<!-- <td><%#= game.last_in_arcade %></td> -->
<!-- <td><%#= game.times_played %></td> -->
<!-- <td><%#= game.status %></td> -->
<!-- <td><%#= game.purchase_url %></td> -->
<!-- <td><%#= game.game_description %></td> -->
<!-- <td><%#= game.categories %></td> -->
<!-- <td><%#= game.key_map %></td> -->
<!-- <td><%#= game.image %></td> -->
<!-- <td><%#= link_to 'Show', game %></td> -->
<!-- <td><%#= link_to 'Edit', edit_game_path(game) %></td> -->
<!-- <td><%#= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
<!-- </tr> -->
<%# end %>
<!-- </tbody> -->
<!-- </table> -->

<br>
<% else %>
  <p>There are no games containing the term(s) <%= params[:search] %>.</p>
<% end %>
<<<<<<< HEAD
=======

<div class="text-center">
  <%= link_to 'Add New Game', new_game_path, class: "btn btn-info btn-lg" %>
</div>
>>>>>>> 3d950b128a9fd682005a005a4c456bdf528e6569
