<<<<<<< Updated upstream
<p id="notice"><%= notice %></p>


<div class='row'>
  <div class='col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10'>
    <img src='http://cdn.wccftech.com/wp-content/uploads/2016/01/Deaths-Gambit.jpg' class='image-front' />
  </div>
</div>
<div class='row'>
  <div class='col-xs-offset-2 col-sm-offset-2 col-xs-4 col-sm-4'>
    <h2><%= @game.title %></h2>
  </div>
</div>
</p>

<div class='row'>
  <div class='col-xs-offset-2 col-sm-offset-2 col-xs-4 col-sm-4'>
    <p><i>By <%= @game.user.company_name %></i></p>
  </div>
</div>
</p>

<p>
  <strong>Last in arcade:</strong>
  <%= @game.last_in_arcade %>
</p>

<p>
  <strong>Times played:</strong>
  <%= @game.times_played %>
</p>

<p>
  <strong>Status:</strong>
  <%= @game.status %>
</p>

<p>
  <strong>Purchase url:</strong>
  <%= @game.purchase_url %>
</p>

<p>
  <strong>Game description:</strong>
  <%= @game.game_description %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @game.categories %>
</p>

<p>
  <strong>Key map:</strong>
  <%= @game.key_map %>
</p>

<p>
  <strong>Image:</strong>
  <%= @game.image %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %>
|
<%= link_to 'Back', games_path %>
<<<<<<< HEAD
<div class='form-spacing'></div>
<%= form_tag(game_path(@game), method: 'get', class:'form-group') do %>
  <div class='row'>
    <div class='col-xs-offset-1 col-sm-offset-1 col-xs-2 col-sm-2'>
      <%= label_tag 'Inquery Title'%>
    </div>
    <div class='col-xs-4 col-sm-4'>
      <%=text_field_tag :title, nil, class:'form-control', placeholder: 'Inquery Title'%>
    </div>
  </div>
  <div class='form-spacing'></div>
  <div class='row'>
    <div class='col-xs-offset-1 col-sm-offset-1 col-xs-2 col-sm-2'>
      <%= label_tag 'Inquery Email'%>
    </div>
    <div class='col-xs-4 col-sm-4'>
      <%=email_field_tag :email, nil, class:'form-control', placeholder: 'Inquery Email'%>
    </div>
  </div>
  <div class='form-spacing'></div>
  <div class='row'>
    <div class='col-xs-offset-1 col-sm-offset-1 col-xs-2 col-sm-2'>
      <%= label_tag 'Message' %>
    </div>
    <div class='col-xs-6 col-sm-6'>
      <%=text_area_tag :message, nil, {rows:8, class:'form-control'}%>
    </div>
  </div>
  <div class='form-spacing'></div>
  <div class='row'>
    <div class='col-xs-offset-3 col-sm-offset-3 col-xs-2 col-sm-2'>
      <%=submit_tag 'Send', class:'btn btn-default'%>
    </div>
  </div>
<%end%>
=======

<hr>

<%= form_for [@game, @review], remote: true do |f| %>
<div>
  <div><%= f.text_field :fun %></div>
  <div><%= f.text_field :playability %></div>
  <div><%= f.text_field :difficulty %></div>
</div>
<%= f.submit %>
<% end %>

<% @game.reviews.each do |ans| %>
<div id='reviews'>
  <%= render 'reviews/graph' ,ans: ans %>
</div>
<% end %>

<% if current_user.admin? %>
  <%= render '/games/show_admin' %>
  <% else %>
  <%= redirect_to root_path %>
  <% end %>
>>>>>>> ce418cffa502f72c0f415a4850de5e2be6c6593a
