<h4>Dear
    <%=@owner.company_name%></h4>

<p>
    You have received an inquery about your game,
    <%=@game.title%>.
</p>

<p>
    Message Title:
    <%= @message_title%>
</p>
<p>
    <%=@message%>
</p>
<p>
    You can respond to the inquery by contacting:
    <%=@message_email%>
</p>
<p>
    Regards,
</p>
<p>
    Indie Arcade
</p>
