<p id="notice"><%= notice %></p>

<h1>Arcades</h1>

<table>
  <thead>
    <tr>
      <th>Titles</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Phone number</th>
      <th>Website</th>
      <th>Status</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arcades.each do |arcade| %>


      <tr>
        <td>  <h3><%= arcade.title %> </h3> <%= arcade.title %></td>
        <td><%= arcade.address %></td>
        <td><%= arcade.latitude %></td>
        <td><%= arcade.longitude %></td>
        <td><%= arcade.phone_number %></td>
        <td><%= arcade.website %></td>
        <td><%= arcade.status %></td>
        <td><%= arcade.image %></td>
        <td><%= link_to 'Show', arcade %></td>
        <td><%= link_to 'Edit', edit_arcade_path(arcade) %></td>
        <td><%= link_to 'Destroy', arcade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arcade', new_arcade_path %>
