<p id="notice"><%= notice %></p>

<h1 class="text-center">Arcades</h1>


<% @arcades.each do |arcade| %>
  <div class='row'>
    <div class='col-xs-offset-2 col-sm-offset-2 col-xs-4 col-sm-4'>
      <h3><%= arcade.title %></h3>
    </div>

    <div class='col-xs-4 col-sm-4'>
      <h3> </h3>
        <p> <%= arcade.address%></p>
        <p>  <%arcade.phone_number%> </p>
          <p>  <span class="glyphicon glyphicon-phone "></span>

              (604).603.603
            </p>

          </br>
          </br>

          <div class='btn-group'>
            <%= link_to 'Show', arcade , class: "btn btn-default small btn-xs" if admin?%>
            <%= link_to 'Edit', edit_arcade_path(arcade), class: "btn btn-default small btn-xs" if admin? %>
            <%= link_to 'Destroy', arcade, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-default small btn-xs" if admin? %>
          </div>

    </div>


  </div>


  <div class='arcade-list-spacing'></div>

  <div class='row'>
    <div class='col-xs-offset-2 col-sm-offset-2 col-xs-4 col-sm-4'>
      <%arcade.website%>
    </div>
  </div>

<br>
  <div class='row'>
    <div class='col-xs-offset-2 col-sm-offset-2 col-xs-4 col-sm-4'>
      <%arcade.status%>
    </div>
  </div>


  <div class='row'>
    <div class='col-xs-offset-2 col-sm-offset-2 col-sm-8 col-xs-8'>
      <hr />
    </div>
  </div>
<%end%>


<%= link_to 'New Arcade', new_arcade_path, class: "btn btn-default small" if admin?%>
