<p id="notice"><%= notice %></p>

<h1 class="text-center">Arcades</h1>

<table>
  <!-- <thead>
    <tr>
      <th>Titles</th>
      <th>Address</th>

      <th>Phone number</th>
      <th>Website</th>
      <th>Status</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <tbody>
    <div class="row">
      <% @arcades.each do |arcade| %>
      <div class="col-md-4 ">
        <h3><%= arcade.title %> </h3>
        <p>
          <%= arcade.image %>
          <img src="<%= arcade.image %>" class="image-resp" alt="<%= arcade.title %> " />
        </p>
        <p><%= arcade.address %></p>
        <p><%= arcade.phone_number %></p>
        <p><%= arcade.website %></p>
        <p><%= arcade.status %></p>


        <%= link_to 'Show', arcade , class: "btn btn-default small" if admin?%>
        <%= link_to 'Edit', edit_arcade_path(arcade), class: "btn btn-default small" if admin? %>
        <%= link_to 'Destroy', arcade, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-default small" if admin? %>

        <%= link_to 'Show', arcade , class: "btn btn-default small btn-xs" %>
        <%= link_to 'Edit', edit_arcade_path(arcade), class: "btn btn-default small btn-xs" %>
        <%= link_to 'Destroy', arcade, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-default small btn-xs"%>

      </div>
      <% end %>
    </div>
  </tbody>
</table>

<br>


<%= link_to 'New Arcade', new_arcade_path, class: "btn btn-default small" if admin?%>

<%= link_to 'New Arcade', new_arcade_path, class: "btn btn-success btn-lg" %>
